workDir = "/users/user02/work"

params {
  fastq = "../data/*_{1,2}.fastq.gz"
  ref = "../data/chr19.fa"
  chr19Folder = "../data"
  outdir = "./output"
}

process {
  withName: 'TRIMMOMATIC' {
    cpus = 2
    memory = 5.GB
    time   = 1.h
  }
  withName: 'BWA' {
    cpus = 2
    memory = 7.GB
    time   = 2.h
   }
  withName: 'SAM2BAM' {
    cpus = 1
    memory = 3.GB
    time = 1.h
   }
  
  withName: 'VARCALL' {
    cpus = 2
    memory = 6.GB
    time = 2.h
  }
}

singularity {
  enabled = true
  autoMounts = true
}

profiles {
  local {
    process.executor = 'local'
  }

slurm {
  process.executor  = 'slurm'
  process.queue = 'Main'
  }
}
